#gbv-regional-map {
  width: 50%;
  height: 600px;
  background-color: white;
}

.gbv-regional-content-cont {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 600px;
  padding-left: 9em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #eae7ee;
}

.gbv-regional-content-cont::-webkit-scrollbar {
  display: none;
}

.gbv-regional-content h3 {
  font-size: 42px;
  line-height: 1.19;
  text-transform: none;
  color: #63337c;
}

.gbv-regional-content p {
  max-width: 36em;
}

.mapboxgl-popup-content .country-name {
  font-size: 14px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #gbv-global-map {
    height: 400px;
  }
  
  #gbv-regional-map {
    width: 100%;
    height: 400px;
  }

  .gbv-regional-content-cont  {
    padding: 20px;
    width: 100%;
    height: 400px;
  }

  .gbv-regional-content h3 {
    margin-top: 15px;
    font-size: 20px;
  }

  .gbv-country-content p {
    font-size: 14px;
  }
}
