{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'col-sm-8 offset-md-2'
  ]
%}
<div {{ attributes.addClass(classes) }}>
     <div class="container">
        <div class="row child-survivor">
            <h2>Child and Adolescent Survivor Initiative</h2>
            <div class="col-12 survivor-col">
                <div class="col-12 col-md-6">
                    <h4>CASI Community of Practice</h4>
                    <p>The purpose of the Child Protection (CP)/Gender-based Violence (GBV) Community of Practice (CoP) is to improve linkages between CP and GBV actors to ensure that child and adolescent survivors of sexual abuse in humanitarian settings receive response services that meet their diverse and specific needs. The CP/GBV CoP is a key activity of the Child and Adolescent Survivors Initiative (CASI), led by the CP and GBV AoRs in partnership with the International Rescue Committee and NORCAP. 

                    To learn more about the CP/GBV CoP, please contact jennifer.lee@rescue.org</p>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Remote and Field Support</h4>
                    <p>The purpose of the Child Protection (CP)/Gender-based Violence (GBV) Community of Practice (CoP) is to improve linkages between CP and GBV actors to ensure that child and adolescent survivors of sexual abuse in humanitarian settings receive response services that meet their diverse and specific needs. The CP/GBV CoP is a key activity of the Child and Adolescent Survivors Initiative (CASI), led by the CP and GBV AoRs in partnership with the International Rescue Committee and NORCAP. 

                    To learn more about the CP/GBV CoP, please contact jennifer.lee@rescue.org</p>
                </div>
            </div>
        </div>
    </div>
</div>


