{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'field-support',
    'col-sm-8 offset-md-2',
  ]
%}
<div {{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="row support">
            <h2>Field Support</h2>
            <p>If you work in a GBV sub-cluster (or equivalent) and need support for coordination, information management, or any other issue related to the work of the GBV sub-cluster, please contact the GBV AoR Coordination Team by emailing them on the Contact Page.</p>
        </div>
    </div>
</div>


