.hpc-guidance {
    padding-bottom: 60px;
    .hpc-guidance-content {
        background-color: $white;
        text-align: center;
        padding: 50px 50px ;
        .rectangle{
            padding: 25px 30px;
            .rectangle-content {
                border-radius: 7px;
                border: solid 1px #e1e1e1;
                background-color: #ffffff;
                padding: 23px 20px;
                text-align: left;
                .hpc-description {
                    font-size: $font-size-normal;
                    font-family: $font-sans;
                    line-height: 1.29;
                    font-weight: $font-weight-normal;
                    padding-bottom: 50px;
                }
                .hpc-pdf {
                    border-radius: 14px;
                    background-color: $lavender;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    margin-top: 4%;
                    p{
                        font-weight: $font-weight-normal;
                        padding-top: 3px;
                    }
                }
                h4 {
                    padding-top: 0;
                    line-height: 1.29;
                }
                p {
                    font-size: $font-size-small;
                    font-weight: $font-weight-lighter;
                    color: $black;
                    float: right;
                }
            }
        }
        .hpc-guidance-documents {
            padding-bottom: 20px;
            h3 {
                background-color: $secondary-shade;
                text-align: center;
                font-size: $font-size-normal;
                padding: 18px 0 ; 
            }
        }

    h2 {
        font-size: $font-size-heading-large;
        background: linear-gradient($secondary-color,$secondary-color) bottom  no-repeat;
        background-size: 100px 3px;
        display: inline-block;
        padding-bottom: 22px;
    }
    hr {
        border: 1px solid rgba(154, 154, 154, 0.5);
        width: 96%;
    }
}
}