.hpc-guidance {
  margin-top: $content-spacing-top;
  padding-bottom: 60px;

  .hpc-guidance-content {
    background-color: $white;
    text-align: center;
    padding: 50px 50px;

    .section-single {
      width: 100%;
    }

    .hidden {
      display: block;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 !important;
      margin: 0 !important;
    }

    .show {
      opacity: 1;
      max-height: none;
    }

    .rectangle {
      padding: 25px 30px;
      transition: opacity 1s ease-out;

      .rectangle-content {
        border-radius: 7px;
        border: solid 1px #e1e1e1;
        background-color: $white;
        padding: 23px 20px;
        text-align: left;
        height: 100%;

        a {
          font-size: $font-size-normal;

          .button-outline-violet {
            width: auto;
          }
        }

        .hpc-description {
          font-size: $font-size-normal;
          font-family: $font-sans;
          line-height: 1.29;
          font-weight: $font-weight-normal;
          padding-bottom: 50px;
        }

        .hpc-pdf {
          border-radius: 14px;
          background-color: $primary-color-light;
          height: 28px;
          display: flex;
          justify-content: center;
          margin-top: 4%;

          p {
            font-weight: $font-weight-normal;
            padding-top: 5px;
            text-transform: uppercase;
          }
        }

        h4 {
          font-size: $font-size-normal;
          padding-top: 0;
          line-height: 1.29;
        }

        p {
          font-size: $font-size-small;
          font-weight: $font-weight-lighter;
          color: $black;
          float: right;
        }
      }
    }

    .hpc-guidance-documents {
      padding: 0 0 30px 0;

      h3 {
        background-color: $secondary-shade;
        text-align: center;
        font-size: $font-size-normal;
        padding: 18px 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    hr {
      border: 1px solid#f9f9f9;
      width: 96%;
    }
  }
}

.path-taxonomy {
  .tabs {
    display: none;
  }

  .timeline {
    left: 0;
    z-index: 1;
  }

  .go-back {
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }

    p {
      font-family: $font-pt-sans;
      font-size: $font-size-small;

      .fa {
        font-size: $font-size-large;
        margin-right: 10px;
      }
    }
  }
}
