.tools-and-resources {
  padding: 5%;

  .col-auto {
    width: 100%;
  }

  .fa-angle-right::before {
    display: inline-block;
    text-decoration: none;
  }

  .coordination-tools-and-resources {
    background-color: $white;
    text-align: center;
    padding: 50px 0;

    .tools-content {
      padding: 0 65px;

      .rectangle {
        border-radius: 7px;
        border: solid 1px #e1e1e1;
        background-color: $secondary-shade;
        padding: 35px 55px;
        margin-bottom: 40px;

        &:hover {
          box-shadow: 0 2px 6px 0 rgba(107, 107, 107, 0.35);
        }

        h3 {
          font-size: $font-size-heading;
          font-weight: bold;
          color: $secondary-color;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 0;

          a {
            text-decoration: none;
            color: inherit;
          }
        }

        .rectangle-content {
          padding-top: 10px;
          text-align: left;
          padding-left: 2%;

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: $font-size-normal;
          }
        }
      }
    }
  }
}
