.tools-and-resources {
  padding: 5%;

  .col-auto {
    width: 100%;
  }

  .coordination-tools-and-resources {
    background-color: $white;
    text-align: center;
    padding: 50px 0;

    .tools-content {
      padding: 0 65px;

      .rectangle {
        border-radius: 7px;
        border: solid 1px #e1e1e1;
        background-color: $secondary-shade;
        padding: 35px 55px;
        margin-bottom: 40px;

        h3 {
          font-size: $font-size-heading;
          font-weight: bold;
          color: $secondary-color;
          text-transform: uppercase;
          text-align: center;

          a {
            text-decoration: none;
            color: inherit;
          }
        }

        .rectangle-content {
          padding-top: 10px;
          text-align: left;
          padding-left: 2%;

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: $font-size-normal;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: $font-size-heading-large;
    background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
    background-size: 100px 3px;
    display: inline-block;
    padding-bottom: 22px;
  }
}
