/* TYPOGRAPHY */

/* Google Fonts */

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
// font families
$font-sans: 'Open Sans',
  sans-serif;
$font-pt-sans: 'PT Sans',
  sans-serif;
$font-lato: 'Lato',
  Arial,
  Verdana,
  sans-serif;
$font-raleway: 'Raleway',
  Arial,
  Verdana,
  sans-serif;
$font-fontawsome: 'FontAwesome';
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif !default;
$font-family-serif: Georgia,
  "Times New Roman",
  Times,
  serif !default;
$font-family-monospace: Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
$font-family-base: $font-family-sans-serif;

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 2560px) / (2880 - 2560)));
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: calc(18px + (22 - 18) * ((100vw - 2880px) / (3840 - 2880)));
  }
}

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

$font-size-base: em(16); // Assumes the browser default, typically `16px`
$font-size-lg: em(20);
$font-size-sm: em(14);
$font-size-xs: em(12);
$font-weight-lighter: lighter;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$menu-font-size: em(16);
$hero-font-size: em(42);
$hero-font-mobile: em(32);
$summary-font-size: em(32);
$summary-font-size-mobile: em(18);
$sub-heading-font-size: em(20);
$title-font-size: em(20);
$news-title-font-size: em(20);
$date-font-size: em(19.2);
$news-body-font-size: em(19.2);
$document-title-font-size: em(16);
$document-body-font-size: em(19.2);
$tab-font-size: em(19.2);
$footer-title-font-size: em(14);
$subscribe-font-size: em(19.2);

$font-size-h1: em(40);
$font-size-h2: em(32);
$font-size-h3: em(28);
$font-size-h4: em(24);
$font-size-h5: em(20);
$font-size-h6: em(16);

$title-margin-bottom: em(24);
$button-font-size: em(16);

$font-size-small: em(12);
$font-size-normal: em(14);
$font-size-large: em(24);
$font-size-extra-large: em(32);
$font-size-heading-large: em(42);
$font-size-heading: em(20);
$font-size-subheading: em(16);
