/* TYPOGRAPHY */


/* Google Fonts */

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// font families
$font-sans: 'Open Sans', sans-serif;
$font-lato: 'Lato',
Arial,
Verdana,
sans-serif;
$font-raleway: 'Raleway',
Arial,
Verdana,
sans-serif;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$menu-font-size: 1em;
$hero-font-size: 2.625em;
$summary-font-size: 2em;
$sub-heading-font-size: 1.25em;
$title-font-size: 1.25em;
$news-title-font-size: 1.25em;
$date-font-size: 1.2em;
$news-body-font-size: 1.2em;
$document-title-font-size: 1em;
$document-body-font-size: 1.2em;
$tab-font-size: 1.2em;
$footer-title-font-size: 0.875em;
$subscribe-font-size: 1.2em;

$font-size-h1: 2.5em;
$font-size-h2: 2em;
$font-size-h3: 1.75em;
$font-size-h4: 1.5em;
$font-size-h5: 1.25em;
$font-size-h6: 1em;

$title-margin-bottom: 1.5em;
$button-font-size: 1em;

$font-size-small: 0.75em;
$font-size-normal: 0.875em;
$font-size-large: 1.5em;
$font-size-extra-large: 2em;
$font-size-heading: 1.25em;
$font-size-subheading:1em;

@media screen and (min-width: 320px) {
	html {
	  	font-size: calc(12px + 4 * ((100vw - 320px) / 680));
	}
  }
  @media screen and (min-width: 1024px) {
	html {
		font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1024 - 320)));
	}
  }
  @media screen and (min-width: 2560px) {
	html {
		font-size: calc(14px + (16 - 14) * ((100vw - 1024px) / (2560 - 1024)));
	}
  }
  @media screen and (min-width: 2880px) {
	html {
		font-size: calc(16px + (18 - 16) * ((100vw - 2560px) / (2880 - 2560)));
	}
  }
  @media screen and (min-width: 3840px) {
	html {
		font-size: calc(18px + (22 - 18) * ((100vw - 2880px) / (3840 - 2880)));
	}
}

