.event-calendar {
  background-color: $white;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;

  #calendar {
    h2 {
      font-size: $font-size-large;
      background: none;
      color: $black;
      text-transform: capitalize;
    }

    .fc-button {
      background: $calender-primary;
      box-shadow: 0 0 0 transparent;
      border: 0 solid transparent;
      color: $white;
      text-shadow: 0 0 0 transparent;
      text-transform: capitalize;
    }

    .fc-button.fc-state-active {
      background: $secondary-color;
    }

    .fc-button.fc-today-button {
      background: $calender-secondary;
      text-transform: capitalize;
    }

    .fc-today {
      background: $calender-today;
    }

    .fc-event-container {
      .fc-event {
        background-color: $secondary-color;
        border: none;
      }

      .fc-content {
        background-color: $secondary-color;

        .fc-title {
          color: $white;
        }
      }
    }
  }

  #calender {
    h2 {
      font-size: $font-size-heading;
    }
  }
}

.popover {
  width: 341px;

  .popover-body {
    padding: 1em 2em;

    h5 {
      font-size: $font-size-normal;
      font-family: $font-pt-sans;
      font-weight: $font-weight-bold;
      color: $black;
      text-transform: capitalize;
    }

    .event-date {
      font-size: $font-size-small;
      font-family: $font-sans;
      opacity: 0.4;
    }

    .event-body {
      p {
        font-size: $font-size-small;
        font-family: $font-sans;
      }
    }

    .event-footer {
      .row {
        justify-content: center;
        align-items: center;
      }

      h5 {
        font-size: 10px;
      }

      .btn-contained {
        padding: 1% 10%;
      }

      p {
        font-size: 10px;
      }

      a {
        font-size: 10px;
        text-transform: uppercase;
        color: $white;

        .fa {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .popover {
    .event-footer {
      a {
        .fa {
          display: inline-block;
        }
      }
    }
  }
}
