.featured-report-event {
  margin-top: $content-spacing-top;

  .header {
    background-color: white;
    min-height: 281px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: $secondary-color;
    text-decoration: underline;
  }

  .item-wrapper {
    margin-top: -48px;
    padding: 0 10%;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  p {
    text-align: center;
    line-height: 1.29;
    font-weight: 300;
    font-size: $font-size-normal;
    margin-bottom: 32px;
  }

  .rectangle {
    .rectangle-content {
      border-radius: 7px;
      border: solid 1px #e1e1e1;
      background-color: $white;
      padding: 30px;
      text-align: left;
      box-shadow: 0 2px 6px 0 rgba(107, 107, 107, 0.35);
      min-height: 150px;

      h4 {
        padding-top: 0;
      }

      p {
        text-align: left;
      }

      .events-footer {
        display: flex;
        justify-content: space-between;

        .date {
          font-size: $font-size-small;
          opacity: 0.4;
          padding-top: 10px;
        }

        .download {
          margin-right: 0;

          .button-outline-violet {
            margin-top: 0;
            font-size: $font-size-normal;

            i {
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #featured-item {
    padding: 0;
  }

  .events-footer {
    flex-direction: column;
  }

  .featured-report-event {
    margin-top: 20px;
    align-items: center;
    min-height: 160px;

    p {
      margin-left: 15%;
      margin-right: 15%;
    }

    .rectangle {
      margin: 0 5%;

      .rectangle-content {
        h4 {
          font-size: 16px;
        }

        p {
          margin: 0;
          margin-bottom: 20px;
        }

        .events-footer {
          .download {
            display: flex;
            justify-content: flex-start;

            a {
              min-width: 50%;
              margin-top: 7%;

              .button-outline-violet {
                padding: 3% 8%;
              }

              i {
                margin-left: 10px !important;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
