.new-report-block {
  padding-bottom: 2em;
  padding-top: 2em;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
    display: inline-block;
  }

  .new-reports {
    display: flex;

    .new-report-single {
      border-radius: 7px;
      border: solid 1px #e1e1e1;
      margin-top: 10%;
      background-color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;

      .report-image {
        width: 100%;
        border-radius: 7px 7px 0 0;
        height: 160px;
        object-fit: cover;
      }

      .new-report-inner {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          color: $black;
          font-size: $font-size-subheading;
          font-weight: $font-weight-bold;
          padding: 0;
        }

        .body {
          p {
            color: $black;
            font-size: $font-size-normal;
            padding-bottom: 32px;
            margin-bottom: 32px;
            font-weight: $font-weight-lighter;
          }
        }

        .date {
          color: $black;
          font-size: $font-size-small;
          opacity: 0.6;
          font-weight: $font-weight-lighter;
        }

        .access-btn {
          background-color: transparent;
          color: $gray-800;
          border: 2px solid $gray-800;
          border-radius: 0;
          font-weight: bold;
          padding: 10px 20px;
        }

        a {
          text-decoration: none;
          font-size: $font-size-sm;
        }

        .footer-wrap {
          position: absolute;
          bottom: 16px;
          align-items: center;

          .pdf {
            border-radius: 14px;
            background-color: $primary-color-light;
            height: 28px;
            text-align: center;
            margin-top: 4%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;

            p {
              font-weight: $font-weight-normal;
              font-size: $font-size-small;
              font-family: $font-pt-sans;
              text-transform: uppercase;
              margin-bottom: 0;
            }
          }

          .download-link {
            .button-outline-violet {
              font-size: $font-size-normal;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .new-report-block {

    .new-reports {
      .new-report-single {
        .new-report-inner {
          .footer-wrap {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
