.vacancies-block {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: $white;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;

  .view-header {
    display: none;
  }

  .vacancy-single {
    border-radius: 7px;
    border: solid 1px $document-color-light;
    background-color: $white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    .vacancy-image {
      height: 80px;
      display: flex;

      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border: solid 1px #f3f3f3;
      }
    }

    .organization {
      font-size: $title-font-size;
      font-weight: bold;
    }

    h4 {
      padding-top: 0;
    }

    .title {
      font-size: $font-size-normal;
      font-weight: bold;
      text-align: left;
    }

    .body {
      text-align: left;

      p {
        color: $black;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
      }
    }

    .vacancy-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;

      .vacancy {
        text-align: left;
        flex: 1;

        .vacancy-date {
          padding-right: 0;
        }

        .vacancy-read {
          text-align: center;
        }
      }

      p {
        opacity: 0.4;
        font-family: $font-sans;
        font-size: $font-size-small;
        margin-top: 0.5em;
      }

      a.more-btn {
        font-size: $font-size-normal;
        color: $line-color;
        font-weight: bold;
        text-transform: uppercase;

        i {
          font-size: 16px;
          margin-left: 2.9%;
        }
      }
    }
  }
}

@media screen and(max-width: 480px) {
  .vacancies-block {
    margin-top: 40px;

    .view-vacancies {
      margin-top: 15%;
    }

    h2 {
      margin: 0 15%;
    }

    .vacancy-single {
      .vacancy-image {
        display: flex;
        justify-content: center;
      }

      .vacancy-footer {
        .fa {
          display: inline;
        }
      }
    }
  }
}
