$accent-shade: #1c1c1c;

.site-footer {
  background-color: $accent-shade !important;
  padding: 40px 40px 0 40px;
  color: $gray-100;

  p {
    font-size: $font-size-small;
  }

  h2 {
    color: $gray-100;
    text-align: left;
    margin-bottom: 30px;
    font-family: $font-sans;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-size-normal;
  }

  .site-footer__top {
    justify-content: center;
  }

  .site-footer__bottom {
    display: flex;
    justify-content: center;
  }

  .social-media-links--platforms {
    justify-content: center;
    align-items: center;

    li {
      margin-right: 10px;
    }

    .fa {
      color: $gray-100;
      font-size: 36px;
    }
  }

  #mc_embed_signup form {
    padding: 0 !important;
    margin-top: 30px;

    .email-input {
      padding: 10px;
    }

    .btn-signup {
      padding: 10px;
    }
  }

  .footer-contact {
    a {
      color: $white;
      font-weight: $font-weight-bold;

      &::after {
        display: inline-block;
        content: '\f178';
        font-family: $font-fontawsome;
        margin-left: 16px;
      }
    }
  }

  .keylink-content {
    column-count: 2;

    a {
      color: $white;
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }
  }

  .footer-copyright {
    code {
      color: $primary-color-light;
    }
  }
}

@media only screen and (max-width: 480px) {
  .site-footer {
    .contactus-footer {
      padding: 20px 0;
      border-top: 1px solid $footer-border;
    }

    h2 {
      font-size: $font-size-heading;
    }

    p {
      font-size: $font-size-normal;
    }

    .keylinks-footer {
      padding: 20px 0;
      border-top: 1px solid $footer-border;
    }

    .block-social-media-links-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .keylink-content {
      column-count: 1;
      font-family: $font-sans;

      a {
        text-decoration: none;
      }
    }
  }
}
