.site-footer__top {
    justify-content: center;
}

.site-footer__bottom {
    display: flex;
    justify-content: center;
}
.region-footer-third, .region-footer-sixth {
    display: flex;
    justify-content: center;
}
.site-footer{
    background-color: $accent-shade !important;
    padding: 50px 30px;
    color: $gray-100;
    h2{
        color: $gray-100;
        margin-bottom: 30px;
        font-family: $font-family-base;
        text-transform: uppercase;
        font-size: 24px;
    }
    .social-media-links--platforms{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin-right: 10px;
        }
        .fa{
            color: $gray-100;
            font-size: 42px;
        }
    }
}