.path-frontpage .block-region-content {
    padding-top: 0px;
}

.home-summary {
    padding: 5% 10%;
    background-color: #f9f9f9;
    height: 100%;
    p{
        font-size: $summary-font-size;
        color: $black;
        padding: 5% 0 5% 0;
        font-family: $font-sans;
        font-weight: $font-weight-lighter;
    }
}
.intro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 540px;
}