.home-summary{
    padding: 5% 10% 5% 10%;
    background-color: #f9f9f9;
    p{
        font-size: $font-size-large;
        color: $black;
        padding: 5% 0 5% 0;
        font-family: $font-sans;
        font-weight: $font-weight-normal;
    }
}
.introduction{
    display: flex;
    margin-left: -1%;
    margin-right: -1%;
}