.path-frontpage .block-region-content {
  padding-top: 0;
}

.home-summary {
  padding: 5% 0;
  padding: 3% 9%;
  height: 100%;

  p {
    font-size: $summary-font-size;
    color: $black;
    padding: 5% 0;
    font-family: $font-sans;
    font-weight: $font-weight-lighter;
  }
}

.intro-image-container {
  background-color: $white;

  .intro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 545px;
  }
}

@media only screen and (max-width: 480px) {
  .home-summary {
    background-color: $white;
    padding: 5% 5%;
  }

  .home-summary p {
    padding-bottom: 50px;
    text-align: center;
  }

  .intro-image-container {
    display: none;
  }
}
