.keydocument-container {
  padding-left: 5em;
  padding-right: 5em;
}

.keydocument-block {
  margin-top: 2em;
  margin-bottom: 2em;
}

.document {
  border-radius: 7px;
  border: solid 1px #e1e1e1;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
}

.document-header {
  display: flex;
  flex: 0.5;
  justify-content: center;

  img {
    padding: 3% 25%;
  }
}

.document-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.document-body {
  text-align: center;
  font-weight: $font-weight-normal;
  display: flex;
  flex-direction: column;
  font-size: $font-size-normal;
  font-family: $font-sans;
  flex: 1;

  .document-title {
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-subheading;
    font-family: $font-sans;
    flex: 9.9;
  }
}

@media screen and(max-width: 480px) {
  .keydocument-container {
    padding: 0;
  }

  .keydocument-block {
    background-color: $white;
    padding: 10% 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
