.site-footer__top {
    justify-content: center;
}

.site-footer__bottom {
    display: flex;
    justify-content: center;
}
.region-footer-third, .region-footer-sixth {
    justify-content: center;
}
