.navbar {
  padding: 0;
}

.bg-secondary {
  background-color: $secondary-shade !important;
  height: 62px;

  .header-mailing {
    margin-right: 50px;

    .newsletter-block {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: right;
      text-transform: uppercase;
      color: #8064a3;
      font-weight: bold;
    }

    .subscribe-text {
      font-size: $font-size-normal;
      font-weight: $font-weight-bold;
      font-family: $font-pt-sans;
      color: $primary-color;
      text-align: right;
      text-transform: uppercase;
      margin-right: 10px;
      padding-right: 10px;
    }

    #mc_embed_signup form {
      display: flex;
      padding: 0;

      .email-input {
        padding: 5px 35px;
        color: $primary-color;
        border: 2px solid $primary-color;
        font-size: $font-size-small;
        font-weight: normal;
        margin-left: 25px;
      }

      .btn-signup {
        padding: 7px 20px;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        background-color: $primary-color;
        border: none;
        color: $white;
      }
    }
  }
}

.bg-primary {
  background-color: $primary-shade !important;
  box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.75);

  .navbar-collapse {
    justify-content: flex-start;
  }

  #block-gbv-main-menu {
    display: flex;
    flex: 1;
  }

  .navbar-nav {
    display: flex;
    padding: 30px 0 30px 30px;
    align-items: center;
    flex: 1;

    .menu-item--expanded {
      padding: 0, 0;

      .nav-link {
        min-width: 152px;
      }
    }

    .nav-item {
      display: flex;
      margin-left: 3%;
      line-height: 0.75em;

      .nav-link {
        color: $black;
        font-size: $font-size-normal;
        text-transform: uppercase;
        font-family: $font-pt-sans;

        &:hover {
          font-weight: 700;
          transition-duration: 0.2s;
        }

        a {
          color: $black;
        }
      }

      &:last-child {
        background-color: $secondary-color;
        margin-left: auto;
        margin-right: 54px;
        max-height: 38px;

        .nav-link {
          color: #fff !important;
          font-weight: $font-weight-bold !important;
          background-color: #63337c;
          padding: 9% 32px;
        }
      }
    }
  }

  .nav-item .active {
    font-weight: $font-weight-bold;
    border-bottom: 3px solid #65357e;
  }

  .dropdown-menu {
    min-width: 0;
    padding: 0.5rem 0;
    margin: 0;
    box-shadow: 0 3.5px 6px -1px rgba(107, 107, 107, 0.35);
    border-radius: 0 0 7px 7px;
    border: none;

    .dropdown-item {
      padding: 8px 10px 8px 25px;
      white-space: initial;
      line-height: 1;
      border: none;
      font-size: $font-size-normal;

      &:active {
        background-color: $gray-100;
      }

      &:hover {
        background-color: $white;
      }

      a {
        &:hover {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    .dropdown-item .active {
      background-color: $gray-100;
      border: none;
      line-height: 1.43;
    }
  }

  .navbar-brand {
    background-color: #fff;
    margin-left: 5%;
    margin-right: 3%;

    img {
      width: 130px;
    }
  }
}

.navbar-dark {
  .navbar-toggler[aria-expanded=false] {
    padding: 0.25em 1.75em;
    z-index: 999;
    font-size: $font-size-large;

    .navbar-toggler-icon {
      background-image: url(../images/icons/menu.svg);
      opacity: 0.7;
    }
  }

  .navbar-toggler[aria-expanded=true] {
    padding: 0.25em 1.75em;
    z-index: 999;
    font-size: $font-size-large;

    .navbar-toggler-icon {
      background-image: url(../images/icons/icon-close.svg);
      opacity: 0.7;
      background-size: 60%;
    }
  }
}

@media screen and(max-width: 480px) {
  .bg-secondary {
    display: none;
  }

  .bg-primary {
    box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);

    .navbar-nav {
      align-items: flex-start !important;

      .menu-item--expanded.show {
        box-shadow: none;
      }

      .menu-item--expanded {
        padding: 0;
      }

      .nav-item {
        flex-direction: column;
        margin-top: 4%;

        .nav-link {
          font-size: $font-size-subheading;
        }
      }

      .nav-item:last-child {
        margin-right: auto;
        margin-top: 8%;
        margin-left: 3%;
      }

      .dropdown-menu {
        box-shadow: none;
        border-radius: none;

        .dropdown-item {
          width: 60%;
          text-transform: uppercase;
        }
      }
    }

    .navbar-brand {
      img {
        width: 110px;
      }
    }
  }
}
