.partner-block{
    margin-bottom: 20px;
    h2{
        text-align: center;
        margin-bottom: $title-margin-bottom;
        font-size: $title-font-size;
    }
    .partner-inner-block{
        background-color: $secondary-shade;
        padding: 50px 30px;
    }
    .partner-single{
        height: 120px;
        width: 120px;
        border: 1px solid $gray-800;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        margin-right: 30px;
        img{
            width: 80px;
        }
    }
    .donor-tab{
        display: flex;
        align-items: center;
        justify-content: center;
        .tab-text{
            font-size: $tab-font-size;
        }
    }
    .divider{
        display: block;
        height: 50px;
        width: 2px;
        background-color: $gray-800;
        margin-left: 40px;
        margin-right: 40px;
    }
}

