.partner-block {
  padding: 3%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-shade;

  .partner-inner-block {
    width: 100%;

    .partner-items-wrapper {
      justify-content: center;
    }
  }

  .col-auto {
    display: flex;
    align-self: center;
    width: 100%;
    align-items: center;
    justify-content: center;

    .view-id-core_members_donors {
      width: 100%;
    }
  }

  .partner-single {
    height: 7vw;
    width: 7vw;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    margin-right: 1%;
    margin-left: 1%;

    a {
      height: 100%;

      img {
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        height: 100%;
        object-fit: contain;

        &:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }
    }

    @media screen and (max-width: 560px) {
      height: 25vw;
      width: 25vw;
      margin-right: 2%;
      margin-left: 2%;
    }
  }

  .donor-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;

    .tab-text {
      font-size: $font-size-subheading;
      font-family: $font-sans;
      font-weight: $font-weight-lighter;
      color: $black;
    }

    .active {
      font-weight: $font-weight-bold;
    }
  }

  .divider {
    display: block;
    height: 37px;
    width: 1px;
    background-color: $divider-shade;
    margin-left: 32.5px;
    margin-right: 32.5px;
  }
}

@media screen and(max-width: 480px) {
  .partner-block {
    margin-bottom: 10%;
  }
}
