.rega{
    padding-top: 100px;
    padding-bottom: 100px;
    h2{
        text-align: center;
        font-weight: bold;
        font-size: $title-font-size;
        margin-bottom: $title-margin-bottom;
    }
    p{
        font-size: $summary-font-size;
        text-align: center;
}
}

.rega-team-block{
    padding-top: 100px;
    padding-bottom: 100px;
}
.rega-single{
    position: relative;
    .rega-image{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .rega-content-wrapper{
        position: absolute;
        background-color: $secondary-shade;
        bottom: -20%;
        padding: 20px;
        width: 90%;
        left: 5%;
        .rega-region{
            font-size: 20px;
            font-weight: bold;
        }
        .rega-title{
            font-size: 20px;
            font-weight: 500;
        }
        .rega-email{
            font-size: 20px;
            font-weight: 500;
        }
    }
}