.section-timeline-wrapper{
    position: absolute;
    width: 15%;
    left: 2%;
    z-index: 9999;
    // top: 50%;
}
.timeline{
    width: 15%;
    position: fixed;
    background-color:#ddd;
    padding: 2em;
    top: 50%;
    
    li{
        list-style: none;
        padding-bottom: 50px;
        position: relative;
        .inner-circle{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #333;
            display: none;
            margin: 0 auto;
            background-color: black;
            align-self: center;
            justify-content: center;
        }
        .circle{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #333;
            display: inline-flex;
            margin-right: 10px;
        }
        a{
            color: #000;
            font-size: 1em;
            &:focus, &:hover{
                color: $gray-800;
                font-weight: bold;
                text-decoration: none;
            }
        }
        ::after{
            content: '';
            position: absolute;
            width: 3px;
            background-color: #333;
            top: 27px;
            bottom: 0;
            left: 8px;
        }
        :last-child::after{
            display: none;
        }
        .active .inner-circle{
            display: inline-block;
        }
    
    }
}


#main-wrapper{
    position: relative;
}