.child-survivor {
  background-color: $white;
  justify-content: center;
  padding-top: 5%;
  margin-top: 10%;
  margin-bottom: 10%;

  .survivor-col {
    padding: 0 6%;
    display: flex;
  }

  img {
    height: 250px;
  }

  h2 {
    margin-bottom: 3%;
  }

  p {
    font-size: $font-size-normal;
    line-height: 1.93;
    white-space: pre-line;
  }

  h4 {
    font-size: $font-size-subheading;
    color: $secondary-color;
  }
}

@media screen and (max-width: 480px) {
  #child-survivor {
    padding: 0;
  }

  .child-survivor {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10%;

    .survivor-col {
      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
