.path-support {
  .main-content {
    background-image: url(../images/BG/support/support-1.svg);
    background-repeat: no-repeat;
    background-position: 100% -10%;
    background-color: #f9f9f9;
  }
}

.field-support {
  padding: 3% 0;

  .support {
    padding: 6% 19% 6%;
    background-color: $white;
    text-align: center;
    justify-content: center;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    font-size: $font-size-normal;
    line-height: 1.93;
    white-space: pre-line;
    font-family: $font-sans;
  }
}

@media screen and (max-width: 480px) {
  .field-support {
    padding: 5% 0;

    p {
      margin-top: 3%;
      padding: 0 10%;
      text-align: center;
    }

    .support {
      padding: 10% 6%;
      text-align: left;
    }
  }
}
