.path-support {
  .main-content {
    background-image: url(../images/BG/support/support-1.svg);
    background-repeat: no-repeat;
    background-position: 100% -12%;
    background-color: #f9f9f9;
  }
}

.field-support {
  padding: 3% 0;

  .support {
    padding: 6% 19% 6%;
    background-color: $white;
    text-align: center;
    justify-content: center;
  }

  h2 {
    font-size: $font-size-heading-large;
    background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
    background-size: 80px 2px;
    display: inline-block;
    padding-bottom: 22px;
    margin-bottom: 10px;
  }

  p {
    font-size: $font-size-normal;
    line-height: 1.93;
    white-space: pre-line;
    font-family: $font-sans;
  }
}

@media screen and (max-width: 480px) {
  .field-support {
    padding: 0;
    padding-top: 0.25%;

    .support {
      padding: 10% 6%;
      text-align: left;
    }
  }
}
