.help {
  padding: 3% 0;

  .help-desk {
    background-color: $white;
    justify-content: center;
    padding-top: 4%;

    .desk-col {
      padding: 2% 6% 2% 7%;
      display: flex;
    }

    img {
      height: 250px;
    }

    h2 {
      font-size: $font-size-heading-large;
      background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
      background-size: 80px 2px;
      display: inline-block;
      padding-bottom: 22px;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-size-normal;
      line-height: 1.93;
      white-space: pre-line;
    }
  }

  [id^='edit-message-wrapper'] {
    padding: 0;
  }
}
