.help-desk-contact {
  background-color: $primary-color-light;
  margin-top: 2%;
  padding: 5% 15% 3%;
  display: flex;
  flex-direction: column;

  .desk-col {
    display: flex;
    padding-left: 10%;
    padding-right: 4%;

    input {
      border-radius: 0;
      margin-left: 0 !important;
    }

    p {
      white-space: pre-line;
      font-size: $font-size-normal;
      line-height: 2;
    }
  }

  hr {
    width: 96%;
  }

  .form-group {
    padding: 0;
  }

  textarea {
    border-radius: 0;
  }

  .btn-primary {
    background-color: $color-grape;
    border-radius: 0;
    color: $white;
    font-family: $font-pt-sans;
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
    padding: 2% 10%;
    border: none;
    float: right;
  }

  .gbv-helpdesk {
    padding-left: 10%;

    p {
      a {
        text-decoration: underline;
        font-size: $font-size-normal;
        line-height: 1.43;
        color: $secondary-color;
        white-space: pre-line;
        font-family: $font-sans;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .help-desk-contact {
    margin-top: 40px;
    padding: 10% 13%;

    h3 {
      font-size: 20px;
    }

    .desk-col {
      padding: 0;

      p {
        font-size: 14px;
      }
    }

    .gbv-helpdesk {
      padding: 0;
    }
  }
}
