.help {
  padding: 3% 0;

  .help-desk {
    background-color: $white;
    justify-content: center;
    padding: 4% 6%;

    .desk-col {
      display: flex;

      .desk-single {
        margin-top: 25px;
      }
    }

    .view-header {
      margin-bottom: 6.2%;
    }

    img {
      height: 250px;
    }

    h2 {
      margin-bottom: 37px;
    }

    p {
      font-size: $font-size-normal;
      line-height: 1.93;
      white-space: pre-line;
    }
  }

  [id^='edit-message-wrapper'] {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .help {
    padding: 0;
    padding-top: 0.25%;

    .help-desk {
      padding: 10% 6%;

      p {
        font-size: 14px;
      }

      h2 {
        margin-bottom: 0;
      }

      .view-header {
        .desk-col {
          margin: 5% 0.5%;

          .row {
            flex-direction: column-reverse;
          }

          .help-row {
            flex-direction: column-reverse;
          }

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
