.about-tor-section {
  margin-bottom: 5%;

  .tor-content {
    padding: 50px 0;

    .field__item {
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      font-family: $font-sans;
      font-style: italic;
      text-align: left;

      p {
        line-height: 1.83;
      }
    }

    .field__label {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .about-tor-section {
    margin-bottom: 0;
    background-color: $white;

    .tor-content {
      .field__item {
        padding: 0;

        p {
          font-size: 12px;
        }
      }
    }
  }
}
