.about-members-section {
  background-color: $primary-color-light;
  padding-top: 4%;
  padding-bottom: 4%;

  .field__label {
    font-size: $title-font-size;
    font-weight: bold;
    margin-bottom: $title-margin-bottom;
    text-transform: uppercase;
    color: $secondary-color;
    font-family: $font-pt-sans;
  }

  .field__item {
    font-size: $font-size-normal;
    font-family: $font-sans;
  }

  .core-members {
    border-right: 1px solid $line-color;
    padding: 0 4% 0 6%;
    line-height: 2;

    p {
      font-size: $font-size-small;
      padding-top: 40px;
      font-weight: 300;
      font-family: $font-sans;
      color: $accent-shade;
    }

    a {
      text-decoration: underline;
      font-weight: $font-weight-bold;
    }
  }

  .associated-members {
    padding-left: 8.5%;
    line-height: 2;
  }
}

@media screen and(max-width: 480px) {
  .about-members-section {
    padding: 8% 10%;

    .core-members {
      border-right: none;
      border-bottom: 1px solid $line-color;

      .field__label {
        font-size: 20px;
      }

      .field__item {
        padding-right: 0;
      }

      p {
        padding-right: 0;
      }
    }

    .associated-members {
      margin-top: 7%;

      .field__label {
        padding-left: 0;
        font-size: 20px;
      }

      .field__item {
        padding-left: 0;
      }
    }
  }
}
