$background-image-vertical: linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
$background-image-horizontal: linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
$background-position-horizontal: bottom;
$background-position-vertical: right;
$repeat-vertical: repeat-y;
$repeat-horizontal: repeat-x;
$border-width: 1px;
$border-gap: 3px;
$bg-size-vertical: $border-width $border-gap;
$bg-size-horizontal: $border-gap $border-width;
$reverse: false;

.global-architecture-section {
  background-color: $white;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    body {
      font-family: sans-serif;
      font-size: 15px;
    }
  }

  img {
    width: 100%;
  }

  p {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    text-align: center;
    padding: 0 4%;
    line-height: 2;
  }

  #svg-big {
    width: 100%;
  }

  #svg-small {
    width: 100%;
    display: none;
  }
}

.gpc-architect {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  align-items: center;
}

@media screen and(max-width: 480px) {
  .global-architecture-section {
    padding: 5% 3%;

    #svg-small {
      display: block;
    }

    #svg-big {
      display: none;
    }

    p {
      padding: 0 5%;
      text-align: left;
    }
  }

  .gpc-architect {
    padding-right: 0;
  }
}
