.who-are-we {
  background-color: $white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
  padding-top: 3%;

  h2 {
    font-size: $font-size-heading-large;
    background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
    background-size: 100px 3px;
    display: inline-block;
    padding-bottom: 22px;
  }

  p {
    font-size: $font-size-normal;
    column-count: 2;
    column-gap: 66px;
    padding: 0 8%;
  }
}

@media screen and(max-width: 480px) {
  .who-are-we {
    margin-top: 0.25%;

    p {
      column-count: 1;
    }
  }
}

.path-about-us {
  .main-content {
    background-image: url(../images/BG/about/BG-About.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #f9f9f9;
  }
}
