.path-about-us {
  .main-content {
    background-image: url(../images/BG/about/BG-About.svg);
    background-repeat: no-repeat;
    background-position: 100% -10%;
    background-color: #f9f9f9;
  }
}

.who-are-we {
  background-color: $white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $content-spacing-top;
  padding-top: 3%;

  h2 {
    margin-bottom: 0;
  }

  .content {
    padding: 8%;

    p {
      font-size: $font-size-normal;
      line-height: 1.93;
    }

    img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 2em;
    }
  }
}

@media screen and(max-width: 480px) {
  .who-are-we {
    margin-top: 5%;

    h2 {
      margin-top: 5%;
    }

    p {
      column-count: 1;
      font-size: 14px;
      padding: 0 10%;
    }
  }

  .path-about-us {
    .main-content {
      background-image: none;
    }
  }
}
