{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-4 groups">
        <button class="change-btns"><i class="fa" onclick="plusGroups(-1)">&#xf104;</i></button>
        <div class="group-single">
            <h4 class="title">{{entity.title[0].value}}</h4>
            {{ entity.field_reference_group_body[0].value|raw }}
            {% set document_url = media_file_url(entity.field_reference_group_file[0].target_id, 'field_media_file') %}
            <a href="{{document_url}}" download><button class="button-outline-violet">Download</button></a>
        </div>
        <button class="change-btns"><i class="fa" onclick="plusGroups(+1)">&#xf105;</i></button>
    </div>
    
    
{% endfor %}
<script>
var slideIndex = 1;
if(window.innerWidth<=480){
  showGroups(slideIndex);
}

function plusGroups(n) {
  showGroups(slideIndex += n);
}

function showGroups(n) {
  var i;
  var changebtns = document.getElementsByClassName("groups");
  if (n > changebtns.length) {slideIndex = 1}
  if (n < 1) {slideIndex = changebtns.length} ;
  for (i = 0; i < changebtns.length; i++) {
    changebtns[i].style.display = "none";
  }
  changebtns[slideIndex-1].style.display = "flex";
}

var reportEl = document.getElementById('swipe-group');

var mc = new Hammer(reportEl);

if(window.innerWidth<480){
    mc.on("swipeleft swiperight", function(ev) {
        switch(ev.type){
            case 'swipeleft':
                plusGroups(+1);
                break;
            case 'swiperight':
                plusGroups(-1);
                break;
            default:
                break;
        }
    });
}
</script>
