.block-gbv-map {
  background-color: $white;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 480px) {
  #gbv-map {
    width: 98%;
  }
}
