.section-timeline-wrapper {
  position: absolute;
  width: 15%;
  left: 2%;
  z-index: 99;
}

.timeline {
  width: 15%;
  position: fixed;
  background-color: transparent;
  padding: 2em;
  top: 40%;
}

@media (max-width: 576px) {
  .section-timeline-wrapper {
    display: none;
  }
}

.timeline li {
  list-style: none;
  padding-bottom: 72px;
  position: relative;
  display: flex;
  font-size: 12px;
}

.timeline li .inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #63337c;
  background-color: #63337c;
  transition-duration: 0.5s;
}

.timeline li .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.timeline li a {
  position: absolute;
  left: 20px;
  color: #000;
  font-size: 12px;
  font-weight: lighter;
  padding: 0 10px;
  transition-duration: 0.5s;
}

.timeline .active a {
  color: #63337c;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.timeline li::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #63337c;
  top: 21px;
  bottom: 5px;
  left: 7.5px;
}

.timeline li:last-child::after {
  display: none;
}

.timeline .active {
  display: flex;
}

.timeline .active .circle {
  border: 2px solid #63337c;
}

#main-wrapper {
  position: relative;
}
