<div class="hero-banner">
    <div class="row">
        <div class="col-6">
            <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" class="hero-image img-responsive">
        </div>
      <div class="col-6 hero-content">
            <h2 class="hero-title">{{content.body}}</h2>
            <div class="read-more-btn"><a href="{{ content.field_button[0]['#url'] }}" class="btn btn-read-more">{{ content.field_button[0]['#title'] }}</a></div>
      </div>
    </div>
</div>