#gbv-map {
  height: 600px;
  width: 100%;
  background-color: #a8c5eb;
}

.mapboxgl-popup-content p {
  margin-bottom: 0;
}

.mapboxgl-popup-content .country-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.mapboxgl-popup-content .country-header a.country-url {
  margin-left: auto;
  background-color: #63337c;
  padding: 2px 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'PT Sans';
}

.mapboxgl-popup-content .country-header a.country-url i {
  font-size: 12px;
  margin-left: 6px;
}

.mapboxgl-popup-content .country-header h3 {
  margin-bottom: 0;
  margin-right: 30px;
  font-size: 14px;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  font-size: 18px;
}

@media screen and (max-width: 560px) {
  #gbv-map {
    height: 400px;
  }
}
