.coordination-field {
    padding-top: 50px;
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: $secondary-shade;
    h2 {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    .view-header{
        font-size: $summary-font-size;
        text-align: center;
        margin-bottom: 50px;
    }
    .index {
        font-size: 2.5em;
        font-weight: 900;
    }
    .title-wrapper {
        align-items: center;
        display: flex;
        .title {
            font-size: 1.5em;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }
}