.global-initiatives {
  background-image: url(../images/BG/what-we-do/BG-WhatWeDo-2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3% 0;
  margin-top: -2px;

  .global-initiatives-block {
    padding: 60px 0;
    background-color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      font-size: $font-size-normal;
      font-family: $font-sans;
      font-weight: 400;
    }

    .global-initiatives-content {
      padding: 0 50px;
      margin-top: 3%;

      .sub-title {
        font-size: $font-size-subheading;
        font-family: $font-pt-sans;
        font-weight: 600;
        color: $secondary-color;
      }

      .title {
        font-size: $font-size-heading;
        font-family: $font-pt-sans;
        font-weight: 600;
        color: $secondary-color;
      }

      p {
        font-family: $font-sans;
        font-size: 14px;
        font-weight: $font-weight-normal;
        line-height: 1.93;
        color: $black;
        padding-right: 8%;
      }

      h4 {
        padding-top: 0;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
    }

    h2 {
      font-size: $font-size-heading-large;
      background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
      background-size: 100px 3px;
      display: inline-block;
      padding-bottom: 22px;
      margin-bottom: 0.5em;
    }

    .global-initiatives-image {
      height: 270px;
      width: 100%;
      object-fit: cover;
      padding-top: 25px;
    }

    .full-content {
      .global-initiatives-image {
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .global-initiatives {
    padding: 0;

    .global-initiatives-block {
      .global-initiatives-content {
        padding: 0;
        padding-bottom: 25px;
        border-bottom: 1px solid #a99bbd;
      }
    }
  }
}
