.new-report-block {
    padding-bottom: 2em;
    padding-top: 2em;
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: $title-font-size;
        margin-bottom: $title-margin-bottom;
    }
    .new-report-single {
        
        .report-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .new-report-inner {
            background-color: $secondary-shade;
            padding: 20px;
            .date {
                color: $gray-800;
                font-size: $date-font-size;
                margin-bottom: 20px;
            }
            .title {
                color: $gray-800;
                font-size: $news-title-font-size;
                font-weight: bold;
                margin-bottom: 30px
            }
            .body {
                p {
                    color: $gray-800;
                    font-size: $news-body-font-size;
                    margin-bottom: 50px;
                    font-weight: 500;
                }
            }
            .access-btn {
                background-color: transparent;
                color: $gray-800;
                border: 2px solid $gray-800;
                border-radius: 0;
                font-weight: bold;
                padding: 10px 20px;
            }
        }
    }
}