.task-team-block {
  .view-header {
    font-size: $summary-font-size;
    text-align: center;
    margin-bottom: 50px;
  }

  .task-team {
    padding-top: 10%;
    padding-right: 5%;
    line-height: 1.83;
    font-size: $font-size-large;
    font-weight: $font-weight-lighter;
    font-family: $font-sans;
  }

  .group-single {
    border-radius: 7px;
    border: solid 1px #e1e1e1;
    background: $white;
    padding: 20px 26px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    .title {
      font-size: $font-size-subheading;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.38em;
      color: $secondary-color;
    }

    a {
      display: flex;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }

      button {
        display: inline-block;
      }
    }

    p {
      font-size: $font-size-normal;
      font-weight: $font-weight-lighter;
      margin-top: 17px;
      line-height: 1.43em;
      color: $black;
      flex: 1;
    }

    .button-outline {
      margin-top: 30px;
      margin-bottom: 10px;
      height: 36px;
      width: 160px;
    }
  }
}
