.what-we-do {
  background-image: url(../images/BG/what-we-do/BG-WhatWeDo-1.svg);
  background-repeat: no-repeat;
  background-position: 0 15%;
  padding: 5% 0;

  .what-we-do-container {
    background-color: $white;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: $font-size-heading-large;
      background: linear-gradient($secondary-color, $secondary-color) bottom no-repeat;
      background-size: 100px 3px;
      display: inline-block;
      padding-bottom: 22px;
    }

    .content {
      h2 {
        font-size: $font-size-heading;
        background: transparent;
        padding-bottom: 5px;
        font-weight: bold;
      }
    }

    p {
      font-size: $font-size-normal;
    }

    .what-we-do-image {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .what-we-do {
    margin-top: 0.25%;
    padding-top: 0;
    padding-bottom: 0;

    .what-we-do-row {
      flex-direction: column-reverse;
    }
  }
}
