.what-we-do {
    background-color: $white;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .content {
        h2 {
            font-size: $font-size-heading;
            background: transparent;
            padding-bottom: 5px;
            font-weight: bold;
        }
    }
    h2 {
        font-size: $font-size-heading-large;
        background: linear-gradient($secondary-color,$secondary-color) bottom  no-repeat;
        background-size: 100px 3px;
        display: inline-block;
        padding-bottom: 22px;
    }
    p {
        font-size: $font-size-normal;
    }
}