.global-key-figures-container {
    padding: 120px 0;

    .global-key-figure-title {
        text-transform: uppercase;
        font-size: $font-size-lg;
        font-family: $font-pt-sans;
        font-weight: bold;
        line-height: 2.5;
        color: $secondary-color; 
        margin-bottom: 55px;
     }

    .view-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        max-width: 1180px;
        padding: 0 30px;
        margin: auto;

        .views-row {
            width: 350px;
            border-radius: 8px;
            border: solid 1px #ddd;
            background-color: #fff;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .views-field-field-key-figures-description {
                p {
                    font-size: 60px;
                    color: #63337c;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .views-field-title {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}
