.block-views-blockcountry-key-contacts-country-key-contacts {
  padding: 7.5em 0;
  background-color: $primary-shade;

  @media screen and (max-width: 767px) {
    padding: 5em 0;
  }

  h2 {
    margin-bottom: 55px;
    text-transform: uppercase;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1198px;
    margin: auto;
    justify-content: center;

    .views-row {
      width: calc(33.33% - 15px);
      border-radius: 8px;
      border: 1px solid #ddd;
      background-color: $primary-shade;
      padding: 30px 25px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 767px) {
        width: 90%;
        margin-right: unset;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .views-field-title {
        font-size: $font-size-lg;
        font-weight: bold;
        color: #212529;
        font-family: $font-sans;
      }

      .views-field-field-regional-team-organization {
        font-size: $font-size-base;
        color: #212529;
        margin: 15px 0 30px;
      }

      .views-field-field-regional-team-email {
        display: flex;
        align-items: center;
        font-size: $font-size-base;
        color: $secondary-color;

        .field-content {
          display: flex;
          align-items: center;

          i {
            margin-right: 0.5em;
            color: $secondary-color;
          }

          a {
            text-decoration: underline;
            color: $secondary-color;
          }
        }
      }
    }
  }
}
